{% extends "layout.html" %}

{% block title %}
<title>首页</title>
{% endblock %}

{% block css %}
<style type="text/css">
  .menu-button li{
    padding: 10px;
  }
  .menu-button li div{
    border-radius: 10px;
  }
  .menu-button li div img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  .am-header-default{
    background-color:#000;
  }
  .am-navbar-default .am-navbar-nav{
    background-color:#000;
  }
  .menu-screen{
    background-image: url(http://img2.3lian.com/2014/c6/26/d/80.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
</style>
{% endblock %}

{% block js %}
<script type="text/javascript">
  $(document).ready(function(){
    $('.menu-screen').css('height',$(window).height() - $('header').height() - $('.am-navbar').height());
    $('.menu-button li div').css('height', $('.menu-button li div').width());
  });
</script>
{% endblock %}


{% block body %}
<div class="menu-screen">
  <ul class="menu-button am-avg-sm-4 am-avg-md-5 am-avg-lg-6 am-text-center">
    <li><div><img src="http://cdn-img.easyicon.net/png/11867/1186736.gif"></div></li>
    <li><div><img src="http://cdn-img.easyicon.net/png/11867/1186735.gif"></div></li>
    <li><div><img src="http://cdn-img.easyicon.net/png/11867/1186732.gif"></div></li>
    <li><div><img src="http://cdn-img.easyicon.net/png/11867/1186733.gif"></div></li>
    <li><div><img src="http://cdn-img.easyicon.net/png/11946/1194621.gif"></div></li>
    <li><div><img src="http://cdn-img.easyicon.net/png/403/40384.gif"></div></li>
    <li><div><img src="http://cdn-img.easyicon.net/png/11279/1127960.gif"></div></li>
    <li><div><img src="http://cdn-img.easyicon.net/png/11869/1186903.gif"></div></li>
    <li><div><img src="http://cdn-img.easyicon.net/png/11869/1186902.gif"></div></li>
  </ul>
</div>
{% endblock %}
