{% extends "layout.html" %}

{% block title %}
<title>首页</title>
{% endblock %}

{% block css %}
<style type="text/css">
  .menu-button li{
    padding: 10px;
  }
  .menu-button li div{
    border-radius: 10px;
    border: 1px solid #ededed;
    background: rgba(255, 255, 255, 0.2);
  }
  .menu-button li div img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  .menu-button .menu-name{
    color: #fff;
    margin: 10px 0 0 0;
  }
  .am-header-default{
    background-color:#000;
  }
  .am-navbar-default .am-navbar-nav{
    background-color:#000;
  }
  .menu-screen{
    background-image: url(http://img2.3lian.com/2014/c6/26/d/80.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
</style>
{% endblock %}

{% block js %}
<script type="text/javascript">
  $(document).ready(function(){
    $('.menu-screen').css('height',$(window).height() - $('header').height() - $('.am-navbar').height());
    $('.menu-button li div').css('height', $('.menu-button li div').width());
  });
  function open_app(url, title){
    var width = $(window).width();
    var height = $(window).height() - $('header').height() - $('.am-navbar').height();
    layer.open({
        type: 2,
        title: title,
        shadeClose: true,
        shade: false,
        offset: ['49px', '0px'],
        area: [width + 'px', height + 'px'],
        content: url
    });
  }
</script>
{% endblock %}


{% block body %}
<div class="menu-screen">
  <ul class="menu-button am-avg-sm-4 am-avg-md-5 am-avg-lg-6 am-text-center">
    {% for plugin in plugins.keys() %}
      <li onclick="open_app('{{ plugin }}/index', '{{ plugins[plugin].name }}')"><div><img src="{{ plugins[plugin].icon }}"></div><p class="menu-name am-text-truncate">{{ plugins[plugin].name }}</p></li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
