<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  {% block title %}{% endblock %}
  
  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">

  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>

  <link rel="icon" type="image/png" href="assets/i/favicon.png">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="assets/i/app-icon72x72@2x.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
  <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="assets/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileColor" content="#0e90d2">

  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/weui.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='amazeui/css/amazeui.min.css') }}">
  <style type="text/css">
    body{
      position: initial;
    }
    .am-header-default .am-header-icon{
      margin-left: 5px;
    }
    .am-navbar{
      position: absolute;
    }
  </style>
  {% block css %}{% endblock %}
</head>
<body>

  <header data-am-widget="header" class="am-header am-header-default">
      <div class="am-header-left am-header-nav">
          <span id="current-time"></span>
      </div>
          
      </h1>
      <div class="am-header-right am-header-nav">
          <i class="am-header-icon am-icon-phone-square"></i>
          <i class="am-header-icon am-icon-comments-o"></i>
          <i class="am-header-icon am-icon-signal"></i>
      </div>
  </header>

  <div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default " id="">
      <ul class="am-navbar-nav am-cf am-avg-sm-4">
          <li >
            <a href="tel:123456789" class="">
                  <span class="am-icon-navicon"></span>
            </a>
          </li>
          <li>
            <a href="/" class="">
                  <span class="am-icon-home"></span>
            </a>
          </li>
          <li>
            <a href="javascript:history.back();" class="">
                  <span class="am-icon-chevron-left"></span>
            </a>
          </li>
      </ul>
  </div>

  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}

  {% block body %}{% endblock %}

  <!--[if (gte IE 9)|!(IE)]><!-->
  <script src="{{ url_for('static', filename='amazeui/js/jquery.min.js') }}"></script>
  <!--<![endif]-->
  <!--[if lte IE 8 ]>
  <script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
  <script src="{{ url_for('static', filename='amazeui/js/amazeui.ie8polyfill.min.js') }}"></script>
  <![endif]-->
  <script src="{{ url_for('static', filename='amazeui/js/amazeui.min.js') }}"></script>
  <script src="{{ url_for('static', filename='layer/layer.js') }}"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      show_clock('#current-time');
    });
    function show_clock(dom_id){
      setInterval(function() {
          var now = (new Date()).toLocaleString();
          $(dom_id).text(now);
      }, 1000);
    }
  </script>
  {% block js %}{% endblock %}
</body>
</html>